<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty name="APP_NAME" source="spring.application.name"/>

    <property name="LOG_NAME" value="root"/>
    <property name="LOG_LEVEL" value="trace"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <context/>
                <logLevel/>
                <loggerName/>
                <threadName/>
                <message/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>20</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>32</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <pattern>
                    <pattern>
                        {
                        "original_time":"%date{ISO8601}",
                        "service":"${APP_NAME}",
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <logger name="ru.scraping.data" level="DEBUG"/>

    <springProfile name="local">
        <logger name="${LOG_NAME}" level="${LOG_LEVEL}">
            <appender-ref ref="STDOUT"/>
        </logger>
    </springProfile>

</configuration>
